@use "./../../../styles/config/index.scss" as *;

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 1px solid var(--border);
  height: 50px;

  &__logo {
    height: 100%;
    aspect-ratio: 1/1;
    @include flex(row, center, center);
    background-color: var(--bg-black);
    border-right: 1px solid var(--border);
  }

  &__links {
    @include flex();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background-color: var(--bg-black);

    @include range(0px, 900px) {
      display: none;
    }

    &__link {
      @include flex(row, center, center);
      border-right: 1px solid var(--border);
      height: 100%;
      padding: 0 var(--space-md);
      cursor: pointer;

      &:first-child {
        border-left: 1px solid var(--border);
      }
    }
  }

  &__menu {
    @include flex();
    position: relative;
    height: 100%;
    z-index: 9;
    background-color: var(--bg-black);

    &__icon {
      @include flex(row, center, center);
      height: 100%;
      aspect-ratio: 1/1;
      border-right: 1px solid var(--border);
      cursor: pointer;

      @include range(0px, 450px) {
        display: none;
      }

      &:first-child {
        border-left: 1px solid var(--border);
      }
      &:last-child {
        border-right: none;
        @include range(0px, 450px) {
          display: flex;
          border-left: 1px solid var(--border);
        }
      }
    }
  }
}
