.linkButton {
  position: relative;
  display: inline-block; // shrink‑wrap
  cursor: pointer;
  overflow: hidden;
  // border: 1px solid red;

  &__placeholder,
  &__upperText,
  &__lowerText {
    white-space: nowrap;
    font-family: "Roboto Mono";
    font-size: var(--i);
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  &__placeholder {
    visibility: hidden;
  }

  &__upperText,
  &__lowerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family, "Roboto Mono");
    font-weight: var(--font-wight, 300);
    font-style: var(--font-style, normal);

    .char {
      will-change: transform;
    }
  }
}
