.linkButton {
  position: relative;
  display: inline-block; // shrink‑wrap
  cursor: pointer;
  overflow: hidden;

  &__placeholder,
  &__upperText,
  &__lowerText {
    white-space: nowrap;
    font-family: "Roboto Mono";
    font-weight: 300;
    font-size: var(--i);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-style: normal;
  }

  &__placeholder {
    visibility: hidden;
  }

  &__upperText,
  &__lowerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .char{
        will-change: transform
    }
  }
}
