@use "./../../../styles/config/index.scss" as *;

.icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;

  &__placeholder,
  &__upperIcon,
  &__lowerIcon {
    white-space: nowrap;
    font-family: "Roboto Mono";
    font-weight: 300;
    font-size: var(--i);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-style: normal;
    position: relative;
    @include flex(row, center, center);
  }

  &__placeholder {
    visibility: hidden;
  }

  &__upperIcon,
  &__lowerIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      @include flex(row, center, center);
    }
  }

}
