$space-tiny: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 40px;
$space-huge: 48px;
$space-giant: 64px;

// Font sizes
$font-tiny: 10px;
$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-huge: 40px;
$font-giant: 48px;

